body {
    background: #272D2D;
    color: #F2FDFF;
    margin: 0px;
    font-family: monospace;
}

.index-canvas {
    position: fixed;
    z-index: 42;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    transition: background-color .5s cubic-bezier(0, 0, 0.35, 1);
    background-color: #272D2D;
}
