body {
    padding: 0 1rem;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;
    border-radius: 0;
    background: #272D2D;
    color: #F2FDFF;
}

*:focus {
    outline: none;
}

textarea {
    resize: none;
}

pre {
    overflow-x: scroll;
    background: #313a3a;
    padding: 0.5em 1em;
}

code {
    background: #313a3a;
}

button {
    cursor: pointer;
    background: #4FC6E3;
}

button:hover, button:focus, button:active {
    background: #21B0D4;
}

ul {
    list-style-type: circle;
}

li {
    margin-bottom: 1.5rem;
}

a:link {
    color: #4FC6E3;
}

a:visited {
    color: #D6C2CF;
}

a:hover, a:active {
    color: #21B0D4;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    margin-bottom: 1.5rem;
}

.flat, .upright {
    display: flex;
}

.upright {
    flex-direction: column;
}

.spread {
    flex: 1;
    min-width: 0;
}

.tall {
    min-height: 100vh;
}

.tight {
    max-width: 48.25em;
}

.hump--up {
    margin-bottom: 2.5rem;
}

.hump--down {
    margin-top: 2.5rem;
}

.squeeze {
    padding: 0.5em 1em;
}

.deep {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.above {
    top: 0;
}
