body {
    background: #ecf0f1;
    color: #2c3e50;
    padding: 0px 15px;
    margin: 0px;
    font-family: monospace;
}

ul {
    list-style-type:circle;
}

a:link {
    color: #3498db;
}

a:visited {
    color: #9b59b6;
}

a:hover, a:active {
    color: #2980b9;
}

.dib {
    display: inline-block;
}

.index-wrapper {
    margin: 0 -15px;
    padding: 0 calc(25vw + 15px) 0 15px;
}

.index-canvas {
    position: fixed;
    z-index: 42;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25vw;
    transition: width .5s cubic-bezier(0, 0, 0.35, 1);
    background: #2c3e50;
}

.index-canvas.expanded {
    width: 100vw;
}

.expander {
    position: fixed;
    z-index: 42;
    top: 15px;
    right: 15px;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    text-decoration: none!important;
    color: #ecf0f1!important;
    border: 1px #ecf0f1 solid;
    font-size: 24px;
    border-radius: 50%;
}