@font-face {
  font-family: 'icons';
  src:
    url('/fonts/icons.ttf?ps5ccf') format('truetype'),
    url('/fonts/icons.woff?ps5ccf') format('woff'),
    url('/fonts/icons.svg?ps5ccf#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gif:before {
  content: "\e900";
}
.icon-chaos:before {
  content: "\e901";
}
.icon-expand:before {
  content: "\e902";
}
.icon-fold:before {
  content: "\e903";
}
.icon-fullscreen:before {
  content: "\e904";
}
.icon-skip:before {
  content: "\e905";
}

body {
    background: #272D2D;
    color: #F2FDFF;
    padding: 0px 15px;
    margin: 0px;
    font-family: monospace;
    font-size: 14px;
    line-height: 2.125;
}

p {
    max-width: 48em;
    line-height: 1.5;
}

ul {
    list-style-type:circle;
}

a:link {
    color: #4FC6E3;
}

a:visited {
    color: #D6C2CF;
}

a:hover, a:active {
    color: #21B0D4;
}

.block {
    /* TODO: change this to rem, but figure out the font size first */
    margin-bottom: 40px;
}

.dib {
    display: inline-block;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.min-vh-100 {
    min-height: 100vh;
}

.index-wrapper {
    margin: 0 -15px;
    padding: 0 calc(25vw + 15px) 45px 15px;
}

.index-canvas {
    position: fixed;
    z-index: 42;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25vw;
    transition: width .5s cubic-bezier(0, 0, 0.35, 1), background-color .5s cubic-bezier(0, 0, 0.35, 1);
    background-color: #272D2D;
}

.index-canvas.expanded {
    width: 100vw;
}

.giffer,
.chaoser,
.fullscreener,
.skipper,
.expander {
    position: fixed;
    z-index: 42;
    top: 16px;
    right: 16px;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    text-decoration: none!important;
    color: #F2FDFF!important;
    border: 1px #F2FDFF solid;
    font-size: 20px;
    border-radius: 50%;
    background: #272D2D;
    transition: transform .3s cubic-bezier(.24,1.34,.57,1.44);
}

@media (hover: hover) {
    .giffer:hover,
    .chaoser:hover,
    .fullscreener:hover,
    .skipper:hover,
    .expander:hover {
        transform: scale(1.15, 1.15);
    }
}

.no-fullscreen .skipper,
.fullscreener {
    top: 56px;
}

.no-fullscreen .chaoser,
.skipper {
    top: 96px;
}

.no-fullscreen .giffer,
.chaoser {
    top: 136px;
}

.giffer {
    top: 176px;
}
