body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.version {
    padding: .5em 1em;
    float: right;
    color: #000;
}

.view {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

nav {
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.inner-view {
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 3.5rem;    
}

.custom-touch {
    touch-action: none;
    user-select: none;
    overflow: hidden;
}

.custom-touch-inner {
    position: absolute;
}

.touch-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: transparent;
}

svg,
svg * {
    background-color: transparent;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
        stroke: #0ff;
    }
    50% {
        stroke-dashoffset: 12;
        stroke: #f0f;
    }
    100% {
        stroke-dashoffset: 24;
        stroke: #0ff;
    }
}

#svgcursors svg * {
    fill: none !important;
    stroke: #0ff;
    stroke-dashoffset: 0;
    stroke-width: 4;
    stroke-dasharray: 12;
    vector-effect: non-scaling-stroke;
    animation: dash 2s linear infinite;
}


#svgcursors svg,
#svgimg svg {
    display: block;
    width: 100%;
    height: auto;
}

* {
    background-color: #333;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
}

*:focus {
    outline: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

textarea {
    background-color: #222;
    display: block;
    padding: .5em 1em;
    resize: none;
    width: 100%;
    height: 100%;
}

button {
    background-color: #000;
    cursor: pointer;
    padding: .5em 1em;
}

button:hover, button:focus, button:active {
    background-color: #222;
}

#list {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(64px, 240px, calc(50% - 0.25rem)));
    grid-gap: 0.5rem;
}
